body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}

.center {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center h1 {
  display: inline;
  width: auto;
  line-height: .8em;
  font-family: 'Serif';
  font-size: 2em;
  text-transform: uppercase;
  border: 5px solid black;
  padding: .2em;
}
